pandas==1.5.3
numpy==1.24.2
scikit-learn==1.2.1
matplotlib==3.6.2
catboost==1.2.7
sentence-transformers==3.2.1
joblib==1.4.2
datasets==3.0.2
lightgbm==4.5.0
torch==2.5.1
torchvision==0.20.0
transformers==4.46.1
streamlit==1.39.
tensorboard==2.18.0


# tiktoken==0.8.0
# onnx==1.17.0
# onnxruntime==1.19.2
# onnxmltools==1.12.0
# skl2onnx==1.17.0
# onnxconverter-common==1.14.0 
# protobuf==3.20.2